<?xml version="1.0" encoding="UTF-8"?>
<suite name="E-commerce Test Suite" verbose="1">
    <parameter name="browser" value="chrome" />

    <test name="Authentication Tests">
        <classes>
            <class name="tests.authentication.UserRegistrationTest" />
            <class name="tests.authentication.SignInUserTest" />
        </classes>
    </test>

    <test name="Product Tests">
        <classes>
            <class name="tests.products.SearchProductTest" />
            <class name="tests.products.ProductReviewGuestTest" />
            <class name="tests.products.ProductReviewRegisteredUserTest" />
            <class name="tests.products.AddProductToCompareTest" />
            <class name="tests.products.ProductHoverMenuTest" />
        </classes>
    </test>

    <test name="Shopping Cart Tests">
        <classes>
            <class name="tests.shoppingCart.AddProductToShoppingCartForRegisteredUserTest" />
            <class name="tests.shoppingCart.DeleteProductToShoppingCartForRegisteredUserTest" />
        </classes>
    </test>

    <test name="Checkout with Default Address Flow">
        <classes>
            <class name="tests.checkOut.RegisterUserCheckOutWithDefaultAddressTest" />
            <class name="tests.checkOut.OrderHistoryTest" />
        </classes>
    </test>

    <test name="Checkout with Different Address Flow">
        <classes>
            <class name="tests.checkOut.RegisterUserCheckOutWithDifferentAddressTest" />
            <class name="tests.checkOut.OrderHistoryTest" />
        </classes>
    </test>
</suite>